{% extends 'base.html' %}

{% block title %}0&X. | Home{% endblock %}

{% load static %}

{% block content %}
    <div class="blockquote text-right">
        <div class="col-12 col-lg-8 mx-auto">
            <h6 class="mx-5 px-5 pt-5 text-left">"Yin and yang, male and female, strong and weak, rigid and tender, heaven and earth, light and darkness, thunder and lightning, cold and warmth, good and evil...the interplay of opposite principles constitutes the universe."</h6>
            <footer class="blockquote-footer mx-5 mt-5 px-5 pt-5">Confucius</footer>
        </div>
    </div>
    <section class="parent2">
        <div class="grid4">
            <h3 class="pt-5 pl-5">At 0&X.</h3><hr>
            <p class="px-5">We believe there is beauty within the simplicity of the eternally used candle. For many, it provides retreat, serenity, a time to gather and collect your conscious thoughts, a time to relax and switch off. <br><br>
            Considered thought and effort is immersed every candle release. Each release combines two candles. Individually perfect, yet offering the owner a unique chance to conceptually discover the perfection that is within the concept of 'opposite-principles'. The reason for this being the knowledge that without one, you cannot know the other. Without night, you cannot know day.
            <br><br>Yes, exactly like the saying, "Opposites attract". Using two exact opposites as a basis of concept, your candle combinations are expertly 
            discovered combining the best of ingredients highlighting specific qualities from each balanced side. An individual candle focuses upon one of the opposing ideas.<br><br>
            The essence of each candle is designed to encourage and attract thoughful comtemplation, self-discovery as well as harvesting the natural effects our candles provide.
            </p>
        </div>
        <div class="grid5">
            <img class="candle1" src="https://res.cloudinary.com/peggy-co/image/upload/e_art:quartz,q_auto:best/v1588252082/Candles/photo2_copy_gqls2n.jpg" alt="Image of someone holding a cangle in their palms offering it to the viewer" />
        </div>
    </section>
    <div class="blockquote text-right">
        <span class="shop-link-text"><a href="{% url 'displayShop' %}">Shop</a></span><span class="shop-link-arrow">>.</span>
    </div>
{% endblock %}
    