{% extends 'account/base.html' %}

{% load static %}
{% block title %}0&X. | Logged Out{% endblock %}

{% block content %}
<section class="m-5 p-3">
    <h4>Logged out.</h4>
    <h6>You have been logged out successfully. Thanks for coming to see us!</h6>
</section>
<div id="header" class="menu-login menu-container grid5C">
    <ul class="py-3 pl-3 pr-5 mr-5">
        <li><a href={% url 'index' %}>Home</a></li>
        <li><a href={% url 'displayShop' %}>Shop</a></li>
        {% if not request.user.is_authenticated %}
            <li><a href={#}>Member Registration</a></li>
            <li><a href={% url 'login' %}>Member Login</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
            <li {% if section == "dashboard" %} class="selected"{% endif %}>
                <a href="{% url 'dashboard' %}">My dashboard</a>
            </li>
            <li>
                <a href={% url 'logout' %}>Logout</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}