{% extends 'account/base.html' %}

{% load crispy_forms_tags %}

{% block title%}0&X. | Login{% endblock %}

{% block page_heading %}
    <section class="m-1 p-1">
        <h4>Member Login</h4>
        {% if form.errors %}
            <h6>Your username and password didn't match. Please try again.</h6>
        {% else %}
            <h6>Sign in and discover your member benefits!</h6>
        {% endif %}
        <form action="{% url 'login' %}" method='POST'>
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn btn-warning">Login</button>
            <a class="btn btn-warning" href="{% url 'memberAreaDisplay' %}">
                Cancel
            </a>
        </form>
        <p><a id="link" href="{% url 'password_reset' %}">Forgotten your password?</a></p>
    </section>
{% endblock %}