{% extends 'account/base.html' %}

{% load crispy_forms_tags %}

{% block title%}0&X. | Password Reset{% endblock %}

{% block page_heading %}
    <section class="m-4 p-3">
        <h4>Forgotten your password?</h4>
        <h6>No problem. Please enter your email below to obtain a new password.</h6>
        <form method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-warning">Send email</button>
        </form>
    </section>
{% endblock %}