{% extends 'account/base.html' %}

{% load crispy_forms_tags %}

{% block title%}0&X. | Password Reset{% endblock %}

{% block page_heading %}
    <section class="m-4 p-3">
        <h4>Reset your password?</h4>
        {% if validlink %}
            <h6>Please enter your new password:</h6>
            <form method='POST'>
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn">Change password</button>
            </form>
        {% else %}
            <h6>The password reset link is invalid, possibky because it's been used already? Please request and new password reset.</h6>
        {% endif %}
    </section>
{% endblock %}