{% extends 'account/base.html' %}

{% block title%}0&X. | Password Reset{% endblock %}

{% block content %}
<section class="m-4 p-3">
    <h4>Reset your password?</h4>
    {% if validlink %}
        <h6>Please enter your new password:</h6>
        <form method='POST'>
            {{ form.as_p }}
            {% csrf_token %}
            <h6><input type="submit" value="Change my password"></h6>
        </form>
    {% else %}
        <h6>The password reset link is invalid, possibky because it's been used already? Please request and new password reset.</h6>
    {% endif %}
</section>
{% endblock %}