/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";
@font-face {
    font-family: "Grotesk Light";
    src: url("/static/fonts/founders-grotesk-test-light.woff") format("woff"),
         url("/static/fonts/FoundersGroteskTestLight.woff2") format("woff2");
    }
:root {
    --fluid-min-width: 320;
    --fluid-max-width: 1366;
    --fluid-min-size: 18;
    --fluid-max-size: 24;
    --fluid-min-ratio: 1.2;
    --fluid-max-ratio: 1.414;

    --fluid-screen: 100vw;
    --fluid-bp: calc(
      (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
        ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
    );
}
  
@media screen and (min-width: 1366px) {
    :root {
      --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}
:root {
    --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
    --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
    
    --fluid-min-scale--2: var(--fluid-min-scale--1) * var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--2: var(--fluid-max-scale--1) * var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--2: (var(--fluid-min-size) * var(--fluid-min-scale--2)) / 16;
    --fluid-max-size--2: (var(--fluid-max-size) * var(--fluid-max-scale--2)) / 16;
    --step--2: calc(((var(--fluid-min-size--2) * 1rem) + (var(--fluid-max-size--2) - var(--fluid-min-size--2)) * var(--fluid-bp))); 
    
    --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1)) / 16;
    --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1)) / 16;
    --step--1: calc(((var(--fluid-min-size--1) * 1rem) + (var(--fluid-max-size--1) - var(--fluid-min-size--1)) * var(--fluid-bp)));
    
    --fluid-min-scale-0: var(--fluid-min-ratio);
    --fluid-max-scale-0: var(--fluid-max-ratio);
    --fluid-min-size-0: (var(--fluid-min-size)) / 16;
    --fluid-max-size-0: (var(--fluid-max-size)) / 16;
    --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
    
    --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
    --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
    --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
    --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
    --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  
    --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
    --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
    --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
    --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
    --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  
    --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
    --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
    --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
    --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
    --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  
    --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
    --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
    --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
    --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
    --step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  
    --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
    --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
    --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
    --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
    --step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
  
    --fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
    --fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
    --fluid-min-size-6: (var(--fluid-min-size) * var(--fluid-min-scale-5)) / 16;
    --fluid-max-size-6: (var(--fluid-max-size) * var(--fluid-max-scale-5)) / 16;
    --step-6: calc(((var(--fluid-min-size-6) * 1rem) + (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)));

    /*Defined colour palette for project*/
    --main-theme-colour: #ffffff;
    --black-theme: #000000;
    --blue-theme: #235789;
    --red-theme: #C1292E;
    --yellow-theme: #F1D302;

    /*font variable declarations*/
    --font-Light:'Grotesk Light';
    --font-Regular: 'Grotesk Regular';
    --font-Bold: 'Grotesk Bold';
}
/*|| General Styles */
*,::after,::before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
    
body,html{
    background-color:var(--main-theme-colour);
    color:var(--second-colour);
    font-family:var(--font-Light);
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    overflow-x:hidden
}
html{
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent
}
footer,header,main,nav,section{display:block}

h1,h2,h3,h4,h5,h6,table{
    font-family:var(--font-Light);
    margin-top:0;
}
h1{font-size:var(--step-6)}
h2{font-size:var(--step-5)}
h3{font-size:var(--step-4)}
h4{font-size:var(--step-3)}
h5{font-size:var(--step-2)}
h6{font-size:var(--step-1)}

p, ul, ol, nav {
    font-size:var(--step-0);
}
hr {
    height: 2px;
    background-color: var(--blue-theme);
}
li a {
    color: var(--main-theme-colour) !important;
}
img {
    width: 100%;
}
button, #discover-btn {
    background: #3F84E5;
    background: -webkit-gradient(linear, left top, right top, from(#3F84E5), to(#35a7ff));
    background: -o-linear-gradient(left, #3F84E5 0%, #35a7ff 100%);
    background: linear-gradient(90deg, #3F84E5 0%, #35a7ff 100%);
    background: -webkit-linear-gradient(90deg, #3F84E5 0%, #35a7ff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3F84E5", endColorstr="#35a7ff", GradientType=1 );
    color:#FFF;
    padding:8px 12px;
    border:0;
    border-radius:4px;
    font-size: var(--step--1)
}
button:hover,
#discover-btn:hover,
button:focus {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    background: #ff930f;
    background: -webkit-gradient(linear, left top, right top, from(#ff930f), to(#fffa5c));
    background: -o-linear-gradient(left, #ff930f 0%, #fffa5c 100%);
    background: linear-gradient(90deg, #ff930f 0%, #fffa5c 100%);
    background: -webkit-linear-gradient(90deg, #ff930f 0%, #fffa5c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );
    color: var(--black-theme);
    text-decoration: none;
}
/* || Landing Page CSS Grid Specific */
.wrapper-main {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:100vh;
}
.logo {
    grid-area: 1 / 1 / 3 / 3;
}
.email {
    grid-area: 3 / 1 / 6 / 4;
}
.statement {
    grid-area: 4 / 1 / 6 / 4;
}
.menu {
    margin-top: 1em;
    grid-area: 4 / 4 / 6 / 6;
}
.cart {
    margin: 20px;
    grid-area: 1 / 5 / 2 / 6;
    justify-self: end;
}
.product {
    grid-area: 3 / 1 / 6 / 6;
}
/* || Home Page specific */
.candle1 {
    width: 100%;
    margin: 0;
}
.menu-container {
    background-color: var(--yellow-theme);
    color: var(--black-theme);
}
.shop-link-text{
    font-size: var(--step-5);
    color: var(--main-theme-colour);
    text-decoration: none;
}
a {
    color: var(--main-theme-colour);
    text-decoration: none;
}
a#link {
    color: var(--black-theme);
}
a:hover,
a:focus,
a#link:hover,
a#link:focus {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: var(--yellow-theme);
    text-decoration: none;
}
.shop-link-arrow {
    font-size: var(--step-6);
    color: var(--yellow-theme);
    padding-right: 40px;
    text-decoration: none;
}
.svg {
    width: 80px;
}
/* Shop Page specific css */
.menu-shop {
    background-color: var(--blue-theme);
    color: var(--main-theme-colour);
}
.shop-link-text-2{
    font-size: var(--step-3);
}
/* Member Area & user authentication specific css */
.menu-login {
    background-color: var(--black-theme);
    color: var(--main-theme-colour);
}
/* Cart specific css */
img.snipcart-checkout {
    width: 50px;
    padding:10px;
}
.cart:hover,
.cart:focus {
    color: var(--red-theme);
    border: solid 1px var(--black-theme);
    border-radius: 5px;
}
/* || Site Wide CSS */
.blockquote {
    background-color: var(--black-theme);
    color: var(--main-theme-colour);
    margin-bottom: 0;
}
.blockquote-footer {
    color: var(--main-theme-colour);
    padding-bottom: 2em;
}
p:first-child {
    font-size: var(--step-0);
}
.card {
    border: none;
}
.card-header {
    background-color: var(--yellow-theme);
}
ul {
    list-style: none;
    font-size: var(--step-0);
}
ul#menu-list {
    font-size: var(--step-1);
}
a:hover,
a:focus {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: var(--yellow-theme);
    text-decoration: none;
}
.shop-link-arrow {
    font-size: var(--step-6);
    color: var(--yellow-theme);
    padding-right: 40px;
    text-decoration: none;
}
/* Media Queries */
@media (max-width: 700px) {
    .wrapper-main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    img {
        width: 100%;
        max-width: 600px;
    }
    .logo {
        grid-area: 1 / 1 / 2 / 2;
    }
    .statement {
        grid-area: 2 / 1 / 4 / 3;
        align-self: end;
    }
    .email {
        grid-area: 2 / 1 / 4 / 3;
    }
    .menu {
        grid-area: 5 / 1 / 6 / 3;
    }
    .cart {
        grid-area: 1 / 2 / 2 / 3; 
    }
    .product {
        
    }
  }

  