{% extends 'account/base.html' %}

{% block title %}0&X. | Profile dashboard{% endblock %}

{% block page_heading %}
<section class="m-2 p-2">
    <h4>Dashboard</h4>
    <h6>Welcome {{request.user.first_name}} to your dashboard.</h6>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                    <p class="card-title">Leave a review</p>
                    <p class="card-text">Share your views.</p>
                    <a href="{% url 'writeAReview' %}" class="btn btn-primary">Review</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                    <p class="card-title">Member-Only Candles</p>
                    <p class="card-text">Bespoke Candle creations.</p>
                    <a href="#" class="btn btn-primary">Discover</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                    <p class="card-title">Orders</p>
                    <p class="card-text">Review your previous orders</p>
                    <a href="#" class="btn btn-primary">Orders</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                    <p class="card-title">Profile Admin</p>
                    <p class="card-text">Review and update your account.</p>
                    <a href="#" class="btn btn-primary">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}