{% extends 'account/base.html' %}

{% load crispy_forms_tags %}

{% block title%}0&X. | Edit Profile{% endblock %}

{% block page_heading %}
    <section class="m-1 p-1">
        <h4>Edit your profile details here</h4>
        <h6>We're so glad you've decided to join us!</h6>
        <form method='POST'>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn">Update profile</button>
        </form>
    </section>
{% endblock %}