{% extends 'account/base2.html' %}

{% block title %}0&X. | Member Area{% endblock %}

{% block page_heading %}

    <h4 class="member-font">0&X members enjoy:</h4>
    <ul class="member-list-font">
        <li> - Free samples of our newest creations</li>
        <li> - Limited edition candles only available for members</li>
        <li> - A chance to be part of our 0&X community and influence our product range through member surveys</li>
        <li> - Our monthly Newsletter</li>
    </ul>

{% endblock %}