{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main class="container-landing parent1">
        <div class="logo-container grid1">
            <img class="logo p-4" src="{% static 'images/0&X-logo-v4.svg' %}" alt="Company logo of 0&X." width="300%"/>
        </div>
        <div class="company-mission p-3 mb-5 grid2">
            <h6>Shop and discover our exclusive range of</h6>
            <br>
            <h6>bespoke hand-made aromatherapy candles.</h6>
        </div>
        <div class="menu-shop grid3">
            <ul class="py-3 pl-1 pr-5 mr-5">
                <li><a href={% url 'index' %}>Home</a></li>
                <li><a href={% url 'displayShop' %}>Shop</a></li>
                <li><a href={#}>About & Contact</a></li>
                <li><a href={% url 'login' %}>Member Login</a></li>
            </ul>
        </div>
    </main>
    <div class="blockquote text-right">
        <div class="col-12">
            <h6 class="mx-5 px-5 pt-5 text-left">"Discover our range of carefully and lovingly crafted Soy-Wax candles. Embellished with rich aromatherpy essential oils, expand in it's treasured essence. Each candle is created using the concept of opposites. Without each other, we cannot know either. We celebrate this simple yet highly evolved and powerful statetment. Individually perfect or together we view your custom as an investment into yourself. This is why we pour as much love and light into each creation as we can. This is our celebration of your personal investment."</h6>
            <footer class="blockquote-footer mx-5 mt-5 px-5 pt-5">0&X.</footer>
        </div>
    </div>
    <div class="container-fluid product-display m-0">
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-4 offset-md-1">
                    <div class="card m-2 p-2">
                        <img src="{{MEDIA_URL}}{{product.image}}" class="card-img-top" alt="image of candles label">
                        <div class="card-body">
                            <h4 class="card-title">{{product.name}}</h4>
                            <p class="card-text">{{product.description}}</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">£{{product.price}}</h5>
                            <a href="{% url 'displayProduct' product.id %}" class="card-link">
                                <button class="btn btn-lg btn-outline-dark"> 
                                    <p class="m-0">Discover more...</p>
                                </button>
                            </a>
                            <a href="#" class="card-link">
                                <button class="btn btn-lg btn-outline-dark">
                                    <p class="m-0">Add to cart</p>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--Candle made features -->
    <div class="blockquote align-middle clearfix">
        <span class="float-left">
            <span class="shop-link-arrow">.<</span><span class="shop-link-text-2"><a href="{% url 'index' %}">Home</a></span>
        </span>
        <span class="float-right">
            <span class="shop-link-text-2"><a href="{% url 'displayShop' %}">About&Contact </a></span><span class="shop-link-arrow">>.</span>
        </span>
    </div>
{% endblock %}