{% extends 'base.html' %}

{% block title %}0&X. | Shop{% endblock %}

{% load static %}

{% block content %}
    <div class="blockquote text-right">
        <div class="col-12">
            <h6 class="mx-5 px-5 pt-5 text-left">"Discover our range of carefully and lovingly crafted Soy-Wax candles. Embellished with rich aromatherpy essential oils, expand in it's treasured essence. Each candle is created using the concept of opposites. Without each other, we cannot know either. We celebrate this simple yet highly evolved and powerful statetment. Individually perfect or together we view your custom as an investment into yourself. This is why we pour as much love and light into each creation as we can. This is great celebration in your personal investment."</h6>
            <footer class="blockquote-footer mx-5 mt-5 px-5 pt-5">0&X. - A statement of our heart.</footer>
        </div>
    </div>
    <div class="container-fluid product-display m-0">
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-5 mx-auto">
                    <div class="card m-2 p-2">
                        <img src="{{MEDIA_URL}}{{product.image}}" class="card-img-top" alt="image of candles label">
                        <div class="card-body">
                            <h4 class="card-title">{{product.name}}</h4>
                            <p class="card-text">{{product.description}}</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">£{{product.price}}</h5>
                            <a href="{% url 'displayProduct' product.id %}" class="card-link">
                                <button class="btn btn-lg btn-outline-dark"> 
                                    <p class="m-0">Discover more...</p>
                                </button>
                            </a>

                            <form method="post" action="{% url 'addToCart' product.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                                </div>
                            </form>
                            
                            <a href="#" class="card-link">
                                <button class="btn btn-lg btn-outline-dark">
                                    <p class="m-0">Quick Buy</p>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--Candle made features -->
    <div class="blockquote align-middle clearfix">
        <span class="float-left">
            <span class="shop-link-arrow">.<</span><span class="shop-link-text-2"><a href="{% url 'index' %}">Home</a></span>
        </span>
        <span class="float-right">
            <span class="shop-link-text-2"><a href="{% url 'displayShop' %}">About&Contact </a></span><span class="shop-link-arrow">>.</span>
        </span>
    </div>
{% endblock %}