{% extends 'base.html' %}

{% load static %}

{% block title %}0&X | Contact us{% endblock %}

{% block page_heading %}
    <h4>Send us an email</h4>
    <form action="{% url 'emailContact' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <input type="text" class="form-control" name="message-name" placeholder="Your name">
            </div>
            <div class="form-group col-12 col-md-6">
                <input type="email" class="form-control" name="message-email" placeholder="Your email address">
            </div>
            <div class="form-group col-12">
                <textarea class="form-control" name="message-body" placeholder="Your message" rows="8" cols="100"></textarea>
            </div>
            <div class="form-group col-12 col-md-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    

{% endblock %}
    
